// Responsive
$width-ssm: 375px; //mobile-small
$width-sm: 576px; //mobile
$width-md: 768px; //tablet
$width-lg: 992px; //desktop-small
$width-xl: 1200px; //desktop-large
$width-2xl: 1400px; //desktop-extra-large
